// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// CLIENT SINGLE PRODUCT DYNAMIC PAGE STYLE
.client-single-product {
  //   border: 2px solid red;
  width: 100vw;

  .single-product {
    // border: 2px solid rgb(0, 26, 255);
    width: 100%;
    @include flexDisplay(space-between, center, column);

    .big-display-con {
      width: 100vw;
      height: 500px;
      padding: 10px;
      @include responsive(phone) {
        // height: 550px;
      }

      .go-back {
        position: absolute;
        z-index: 20;
        position: fixed;
        top: 10px;
        background: #3c91e6c6;
        border: 1px solid #8080802b;
        color: white;
        width: 70px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        
      }
      .big-display-img {
        // border: 2px solid red;
        // padding: 5px;
        position: relative;
        width: 100%;
        height: 100%;

        .img {
          //   border: 2px solid red;
          width: 100%;
        }
      }
    }

    .small-display-img-con {
      @include flexDisplay(center, center, row);
      margin: 10px 0;
      width: 100%;
      height: 100px;
      position: relative;

      .small-display-img {
        border: 1px solid gray;
        border-radius: 2px;
        position: relative;
        margin: 5px;
        width: 22%;
        height: 70px;

        @include responsive(phone) {
          width: 22%;
          height: 100%;
        }

        &:hover {
          transform: scale(1.1);
          border: 2px solid $txt-blue;
        }

        img {
          object-fit: cover;
        }
      }

      //   .active-view {
      //     border: 2px solid $txt-blue;
      //     transform: scale(1.1);
      //   }
    }
  }

  //   single product details style
  .single-product-details {
    // border: 2px solid red;
    margin-top: 30px;
    padding: 5px;
    @include flexDisplay(space-between, flex-start, column);

    .p-number,
    .p-desc {
      width: 100%;
      font-size: 15px;
      line-height: 1.5;
      color: $font-light;
      font-style: italic;
      margin-top: 10px;
      span {
        font-weight: bolder;
        font-size: 16px;
      }
    }
    .p-number {
      font-style: normal;
      margin-top: 10px;
    }
    .product-qty-price-con {
      @include flexDisplay(space-between, center, row);
      width: 100%;
      margin-top: 20px;
      flex-wrap: wrap;
      //   border: 2px solid red;

      .qty-con {
        border: 1px solid #8080802b;
        border-radius: 20px;
        @include flexDisplay(space-around, center, row);
        padding: 5px;
        height: 50px;
        width: 50%;
        margin-right: 20px;
        font-size: 25px;
        // background: $font-light;
        // color: white;
        // background: $txt-blue;
        background: #8080802b;
        overflow: scroll;

        span {
          font-weight: bolder;
          // border: 2px solid red;
          border-radius: 20px;
          width: 80px;
          height: 100%;
          @include flexDisplay(center, center, row);

          &:hover {
            background: gray;
          }
        }
        h3 {
          font-size: 30px;
        }
      }
      h1 {
        margin-right: auto;
        // border: 2px solid red;
      }
    }
    .add-to-cart-con {
      //   border: 2px solid red;
      @include flexDisplay(space-between, center, row);
      width: 100%;
      //   max-width: 370px;
      margin: 0 auto;
      margin-top: 30px;

      .add,
      .buy,
      .view {
        // border: 2px solid rgb(13, 0, 255);
        width: 100%;
        text-align: center;
        margin: 2px;
        padding: 15px 5px;
        font-size: 18px;
        font-weight: bolder;
        background: $txt-blue;
        color: white;

        &:hover {
          background: #215586;
        }
      }

      .add {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      .view {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }

    // SINGLE PRODUCT REVIEW
    .product-review {
      width: 100%;
      margin-top: 50px;

      h1 {
        color: $txt-blue;
      }

      .review-con {
        position: relative;
        border-top: 1px solid #8080803f;
        // overflow-y: scroll;
        .add-review {
          position: absolute;
          padding: 3px 5px;
          right: 0;
          top: -35px;
          font-size: 15px;
          text-align: center;
          color: $txt-blue;
          z-index: 4;

          //   border: 2px solid red;
          align-content: center;
          cursor: pointer;
          span {
            font-size: 20px;
          }
          a {
            text-align: center;
            color: $txt-blue;
            padding: 0px 5px 0px 5px;
          }
        }

        .reviews {
          border: 1px solid #8080802b;
          width: 95%;
          margin: 0 auto;
          border-radius: 10px;
          margin-top: 10px;
          overflow-y: scroll;
          height: 300px;

          .quote {
            .quote-text {
              font-size: 15px;
              color: $font-light;
            }
          }
        }
      }
    }
  }
}
