@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.client-single-product {
  width: 100vw;
}
.client-single-product .single-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.client-single-product .single-product .big-display-con {
  width: 100vw;
  height: 500px;
  padding: 10px;
}
.client-single-product .single-product .big-display-con .big-display-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.client-single-product .single-product .big-display-con .big-display-img .img {
  width: 100%;
}
.client-single-product .single-product .small-display-img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  width: 100%;
  height: 100px;
  position: relative;
}
.client-single-product .single-product .small-display-img-con .small-display-img {
  border: 1px solid gray;
  border-radius: 2px;
  position: relative;
  margin: 5px;
  width: 22%;
  height: 70px;
}
@media only screen and (min-width: 320px) {
  .client-single-product .single-product .small-display-img-con .small-display-img {
    width: 22%;
    height: 100%;
  }
}
.client-single-product .single-product .small-display-img-con .small-display-img:hover {
  transform: scale(1.1);
  border: 2px solid #3c91e6;
}
.client-single-product .single-product .small-display-img-con .small-display-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.client-single-product .single-product-details {
  margin-top: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.client-single-product .single-product-details .p-number,
.client-single-product .single-product-details .p-desc {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  font-style: italic;
  margin-top: 10px;
}
.client-single-product .single-product-details .p-number span,
.client-single-product .single-product-details .p-desc span {
  font-weight: bolder;
  font-size: 16px;
}
.client-single-product .single-product-details .p-number {
  font-style: normal;
  margin-top: 10px;
}
.client-single-product .single-product-details .product-qty-price-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
}
.client-single-product .single-product-details .product-qty-price-con .qty-con {
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  height: 50px;
  width: 50%;
  margin-right: 20px;
  font-size: 25px;
  background: rgba(128, 128, 128, 0.168627451);
  overflow: scroll;
}
.client-single-product .single-product-details .product-qty-price-con .qty-con span {
  font-weight: bolder;
  border-radius: 20px;
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.client-single-product .single-product-details .product-qty-price-con .qty-con span:hover {
  background: gray;
}
.client-single-product .single-product-details .product-qty-price-con .qty-con h3 {
  font-size: 30px;
}
.client-single-product .single-product-details .product-qty-price-con h1 {
  margin-right: auto;
}
.client-single-product .single-product-details .add-to-cart-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.client-single-product .single-product-details .add-to-cart-con .add,
.client-single-product .single-product-details .add-to-cart-con .buy,
.client-single-product .single-product-details .add-to-cart-con .view {
  width: 100%;
  text-align: center;
  margin: 2px;
  padding: 15px 5px;
  font-size: 18px;
  font-weight: bolder;
  background: #3c91e6;
  color: white;
}
.client-single-product .single-product-details .add-to-cart-con .add:hover,
.client-single-product .single-product-details .add-to-cart-con .buy:hover,
.client-single-product .single-product-details .add-to-cart-con .view:hover {
  background: #215586;
}
.client-single-product .single-product-details .add-to-cart-con .add {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.client-single-product .single-product-details .add-to-cart-con .view {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.client-single-product .single-product-details .product-review {
  width: 100%;
  margin-top: 50px;
}
.client-single-product .single-product-details .product-review h1 {
  color: #3c91e6;
}
.client-single-product .single-product-details .product-review .review-con {
  position: relative;
  border-top: 1px solid rgba(128, 128, 128, 0.2470588235);
}
.client-single-product .single-product-details .product-review .review-con .add-review {
  position: absolute;
  padding: 3px 5px;
  right: 0;
  top: -35px;
  font-size: 15px;
  text-align: center;
  color: #3c91e6;
  z-index: 4;
  align-content: center;
  cursor: pointer;
}
.client-single-product .single-product-details .product-review .review-con .add-review span {
  font-size: 20px;
}
.client-single-product .single-product-details .product-review .review-con .add-review a {
  text-align: center;
  color: #3c91e6;
  padding: 0px 5px 0px 5px;
}
.client-single-product .single-product-details .product-review .review-con .reviews {
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  overflow-y: scroll;
  height: 300px;
}
.client-single-product .single-product-details .product-review .review-con .reviews .quote .quote-text {
  font-size: 15px;
  color: #666;
}/*# sourceMappingURL=style.css.map */