// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// GO BACK BTN
.go-back {
  // position: absolute;
  z-index: 20;
  cursor: pointer;
  margin: 10px;
  margin-left: 5px;
  background: #3c91e6c6;
  border: 1px solid #8080802b;
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  &:hover {
    background: gray;
  }
}

// CART PAGE
.cart-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.cart-page-con {
  border: 1px solid #ff000000;
  margin-top: 50px;
  position: relative;
  background: whitesmoke;

  @include responsive(bigphone) {
    margin: 0 auto;
    height: calc(100vh - 100px);
    margin-top: 90px;
    max-width: 900px;
  }

  .cart-heading {
    // margin-top: 20px;
    background: white;
    padding: 10px 5px;
    font-weight: bold;
    color: $bg-dark-gray;
    // border: 2px solid red;

    @include responsive(bigphone) {
      margin-top: 0px;
      padding: 10px 5px;
    }
  }
  .subtotal {
    @include flexDisplay(space-between, center, row);
    padding: 0px 10px;

    @include responsive(bigphone) {
      position: absolute;
      border-top: none;
      display: block;
      right: 0;
      margin-left: auto;
      width: 40%;
      background: white;
      // border: 0.1px solid gray;
      z-index: 30;
    }

    p {
      color: $font-light;
      padding: 10px 0px;
      @include responsive(bigphone) {
        font-size: 20px;
      }
    }
    h3 {
      color: $bg-dark-gray;
      @include responsive(bigphone) {
        font-size: 30px;
      }
    }
    .checkout {
      display: none;

      @include responsive(bigphone) {
        display: block;
        width: 100%;
        height: 50px;
        z-index: 20;
        margin-top: 20px;

        button {
          width: 100%;
          height: 100%;
          border: none;
          cursor: pointer;
          color: white;
          background: #3c91e6;
        }

        &:hover {
          button {
            background: #1a426a;
          }
        }
      }
    }
  }

  .single-product {
    padding: 0 5px;
    padding-bottom: 100px;
    height: calc(100vh - 220px);
    overflow-y: scroll;
    position: relative !important;
    margin-bottom: 50px;
    @include responsive(bigphone) {
      height: calc(100vh - 190px);
      width: 100%;
      padding-bottom: 10px;
    }
    .checkout {
      // border: 2px solid red;
      height: 60px;
      position: absolute;
      // position: fixed;
      z-index: 2;
      background: white;
      cursor: pointer;
      // bottom: 65px;
      width: 95%;
      margin: 0 auto;
      font-weight: bold;

      @include responsive(bigphone) {
        display: none;
      }
      button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: white;
        background: $txt-blue;
        border: 1px solid $txt-blue;
        &:hover {
          transform: scale(0.99);
          background: #1a426a;
        }
      }
    }
  }

  .product-con {
    // border: 2px solid rgb(0, 17, 255);
    background: white;
    border-radius: 10px;
    padding: 3px 5px;
    margin: 10px 0;

    @include responsive(bigphone) {
      width: 55%;
      // max-width: 900px;
    }
    .cart-product-top {
      // border: 2px solid rgb(0, 17, 255);
      @include flexDisplay(space-between, flex-start, row);

      .img-con {
        // border: 2px solid rgb(0, 17, 255);
        // width: 45%;
        width: 100px;
        @include responsive(bigphone) {
          // max-width: 150px;
        }
        img {
          width: 100%;
          height: 100px;

          @include responsive(bigphone) {
            // height: 190px;
          }
        }
      }

      .cart-product-lower {
        // border: 2px solid red;
        @include flexDisplay(space-between, flex-start, column);
        height: 100%;
        width: 100%;
        margin-left: 10px;
        @include responsive(bigphone) {
          height: 100%;
        }
        .cart-product-lower-top {
          width: 100%;
          color: $bg-dark-gray;
          p {
            max-width: 200px;
            font-weight: bold;
            line-height: 1.5;
            @include flexDisplay(space-between, center, row);
          }
        }

        .cart-product-lower-lower {
          // border: 1px solid red;
          @include flexDisplay(space-between, center, row);
          width: 100%;
          color: $bg-dark-gray;
          @include responsive(bigphone) {
            line-height: 2;
          }
          p {
            color: $txt-blue;
            font-size: 15px;

            cursor: pointer;
            @include flexDisplay(center, center, row);
            @include responsive(bigphone) {
              line-height: 2;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
          div {
            @include flexDisplay(space-between, center, row);

            .icon {
              color: $txt-blue;
              font-size: 25px;
              cursor: pointer;
              &:hover {
                transform: scale(1.1);
              }
            }
            h3 {
              padding: 0 25px;
              color: $bg-dark;
              background: white;
            }
          }
        }
      }
    }
  }
}
