@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.order-page-main-con {
  width: 100%;
  background: white;
  margin-top: 50px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 768px) {
  .order-page-main-con {
    margin-top: 100px;
    padding-bottom: 0px;
  }
}
.order-page-main-con .oders-con {
  border: 1px solid rgba(128, 128, 128, 0.132);
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  background: whitesmoke;
}
.order-page-main-con .oders-con .order-page-top {
  border-bottom: 1px solid rgba(128, 128, 128, 0.132);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  top: 50px;
}
@media only screen and (min-width: 768px) {
  .order-page-main-con .oders-con .order-page-top {
    top: 100px;
  }
}
.order-page-main-con .oders-con .order-page-top h1 {
  color: #3c91e6;
  margin-top: 20px;
  font-size: 30px;
}
@media only screen and (min-width: 1023px) {
  .order-page-main-con .oders-con .order-page-top h1 {
    font-size: 50px;
  }
}
.order-page-main-con .oders-con .order-page-top .order-status {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .order-page-main-con .oders-con .order-page-top .order-status {
    max-width: 500px;
  }
}
.order-page-main-con .oders-con .order-page-top .order-status p {
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.132);
  height: 40px;
  border-radius: 5px;
  color: #666;
  padding: 0 10px;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.order-page-main-con .oders-con .order-page-top .order-status .active-category {
  background: #3c91e6;
  color: white;
}
.order-page-main-con .each-order-con {
  padding: 5px 3px;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .order-page-main-con .each-order-con {
    padding: 5px 3px;
  }
}
.order-page-main-con .each-order-con .each-order {
  cursor: pointer;
  border-radius: 10px;
  background: white;
  margin: 10px 5px;
  padding: 5px 10px;
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.order-page-main-con .each-order-con .each-order:hover {
  background: rgba(128, 128, 128, 0.1725490196);
  border: 1px solid rgba(128, 128, 128, 0.1725490196);
  color: blak;
}
.order-page-main-con .each-order-con .each-order .order-icon {
  color: #3c91e6;
  font-size: 30px;
}
.order-page-main-con .each-order-con .each-order .order-details {
  margin: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 1023px) {
  .order-page-main-con .each-order-con .each-order .order-details {
    margin: 0 50px;
  }
}
.order-page-main-con .each-order-con .each-order .order-details p {
  margin: 5px;
  color: #666;
}
.order-page-main-con .each-order-con .each-order .order-details .timestamp {
  font-size: 18px;
  font-weight: 600;
  color: #444;
}
.order-page-main-con .each-order-con .each-order .order-details .productnames {
  font-size: 20px;
  color: gray;
}
.order-page-main-con .each-order-con .each-order .order-payment-status p {
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */