// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// orderpage main container
.order-page-main-con {
  // border: 2px solid red;
  width: 100%;
  background: white;
  margin-top: 50px;
  padding-bottom: 100px;

  @include responsive(bigphone) {
    margin-top: 100px;
    padding-bottom: 0px;
  }

  .oders-con {
    border: 1px solid rgba(128, 128, 128, 0.132);
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1200px;
    background: whitesmoke;

    .order-page-top {
      border-bottom: 1px solid rgba(128, 128, 128, 0.132);
      // box-shadow: 5px 1px 5px rgba(128, 128, 128, 0.162);
      padding: 10px 0;
      @include flexDisplay(space-between, center, column);
      // position: sticky;
      top: 50px;
      // border: 2px solid red;

      @include responsive(bigphone) {
        top: 100px;
      }
      h1 {
        color: $txt-blue;
        margin-top: 20px;
        font-size: 30px;

        @include responsive(tablet) {
          font-size: 50px;
        }
      }
      .order-status {
        width: 100%;
        margin-top: 20px;
        // height: 50px;
        @include flexDisplay(space-evenly, center, row);
        @include responsive(bigphone) {
          max-width: 500px;
        }
        p {
          cursor: pointer;
          border: 1px solid rgba(128, 128, 128, 0.132);
          height: 40px;
          border-radius: 5px;
          color: $font-light;
          padding: 0 10px;
          margin: 5px;
          @include flexDisplay(space-evenly, center, row);
        }
        .active-category {
          background: $txt-blue;
          color: white;
        }
      }
    }
  }

  .each-order-con {
   
    padding: 5px 3px;
    // padding-bottom: 50px;
    margin-top: 15px;

    @include responsive(bigphone) {
      // height: 70vh;
      padding: 5px 3px;
    }
    .each-order {
      // border: 2px solid red;
      cursor: pointer;
      border-radius: 10px;
      background: white;
      margin: 10px 5px;
      padding: 5px 10px;
      color: $bg-dark-gray;
      @include flexDisplay(space-between, center, row);

      &:hover {
        background: #8080802c;
        border: 1px solid #8080802c;
        color: blak;
      }
      .order-icon {
        color: $txt-blue;
        font-size: 30px;
      }
      .order-details {
        // border: 2px solid red;
        margin: 0 20px;
        width: 100%;
        @include responsive(tablet) {
          margin: 0 50px;
        }

        p {
          margin: 5px;
          color: $font-light;
        }
        .timestamp {
          font-size: 18px;
          font-weight: 600;
          color: $bg-dark-gray;
        }
        .productnames {
          font-size: 20px;
          color: gray;
        }
      }
      .order-payment-status {
        //  border: 1px solid red;
        p {
          color: white;
          padding: 3px 5px;
          border-radius: 5px;
        }
      }
    }
  }
}
