@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.admin-dynamic-product .single-product {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 1023px) {
  .admin-dynamic-product .single-product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
}
.admin-dynamic-product .single-product .top-container {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .admin-dynamic-product .single-product .top-container {
    padding: 5px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1023px) {
  .admin-dynamic-product .single-product .top-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: 600px;
  }
}
@media only screen and (min-width: 1200px) {
  .admin-dynamic-product .single-product .top-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
.admin-dynamic-product .single-product .top-container .big-display-con .go-back {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  background: rgba(60, 145, 230, 0.7764705882);
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
}

.store-item-dynamic-con {
  padding: 5px;
}
.store-item-dynamic-con .edit-product {
  margin-left: auto;
  width: 120px;
  text-align: center;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #3c91e6;
  color: white;
}
.store-item-dynamic-con .store-item-con {
  width: 100%;
  overflow: hidden;
  animation: showform 0.2s linear;
}
@keyframes showform {
  0% {
    height: 0;
  }
  100% {
    height: 660px;
  }
}
.store-item-dynamic-con .store-item-con form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .store-item-con form {
    width: 100%;
  }
}
.store-item-dynamic-con .store-item-con form label {
  color: var(--blue);
  margin-top: 10px;
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .store-item-con form label {
    font-size: 20px;
  }
}
.store-item-dynamic-con .store-item-con form input,
.store-item-dynamic-con .store-item-con form select,
.store-item-dynamic-con .store-item-con form textarea {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--blue);
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .store-item-con form input,
  .store-item-dynamic-con .store-item-con form select,
  .store-item-dynamic-con .store-item-con form textarea {
    height: 50px;
  }
}
.store-item-dynamic-con .store-item-con form textarea {
  height: 70px;
  font-size: 20px;
}
.store-item-dynamic-con .store-item-con form .file-input {
  border: none !important;
  outline: none;
  width: 30%;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .store-item-con form .file-input {
    width: 40%;
  }
}
.store-item-dynamic-con .store-item-con form .submit-btn {
  background: var(--blue);
  color: var(--light);
  font-weight: bolder;
  border: none;
}
.store-item-dynamic-con .store-item-con form .submit-btn:hover {
  background: var(--light);
  color: var(--blue);
  border: 2px solid var(--blue);
}
.store-item-dynamic-con .small-display-img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .small-display-img-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  .store-item-dynamic-con .small-display-img-con {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.store-item-dynamic-con .small-display-img-con .small-display-img {
  border: 1px solid gray;
  border-radius: 2px;
  position: relative;
  margin: 5px;
  width: 45%;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .small-display-img-con .small-display-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
  }
}
@media only screen and (min-width: 1023px) {
  .store-item-dynamic-con .small-display-img-con .small-display-img {
    width: 200px;
    height: 300px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .store-item-dynamic-con .small-display-img-con .small-display-img {
    width: 250px;
    height: 350px !important;
  }
}
@media only screen and (min-width: 1023px) {
  .store-item-dynamic-con .small-display-img-con .small-display-img img {
    width: 200px;
    height: 300px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .store-item-dynamic-con .small-display-img-con .small-display-img img {
    width: 100%;
    height: 100% !important;
  }
}
.store-item-dynamic-con .lower-details {
  width: 100%;
  padding: 5px;
}
@media only screen and (min-width: 1023px) {
  .store-item-dynamic-con .lower-details {
    width: 50%;
    margin-top: 65px;
    max-width: 600px;
  }
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .lower-details h1 {
    font-size: 50px;
  }
}
.store-item-dynamic-con .lower-details .p-name {
  text-transform: capitalize;
}
.store-item-dynamic-con .lower-details .p-number,
.store-item-dynamic-con .lower-details .p-desc {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .lower-details .p-number,
  .store-item-dynamic-con .lower-details .p-desc {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1023px) {
  .store-item-dynamic-con .lower-details .p-number,
  .store-item-dynamic-con .lower-details .p-desc {
    font-size: 18px;
  }
}
.store-item-dynamic-con .lower-details .p-number span,
.store-item-dynamic-con .lower-details .p-desc span {
  font-weight: bolder;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .store-item-dynamic-con .lower-details .p-number span,
  .store-item-dynamic-con .lower-details .p-desc span {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1023px) {
  .store-item-dynamic-con .lower-details .p-number span,
  .store-item-dynamic-con .lower-details .p-desc span {
    font-size: 20px;
  }
}
.store-item-dynamic-con .lower-details .p-number {
  font-style: normal;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */