// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  // font-family: "Orbitron", sans-serif;
  // overflow: hidden;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// icons
.icon {
  font-size: 30px;
  color: $txt-blue;

  @include responsive(bigphone) {
    font-size: 40px;
  }
}
// HOME PAGE MAIN CON
.homepage-main-con {
  padding: 50px 0;
  @include responsive(bigphone) {
    padding: 0;
  }
}
// TOP BAR

.topbar-main-con {
  @include flexDisplay(space-around, center, column);
  // border-bottom: 1px solid $bg-gray;
  position: relative;
  z-index: 200;
  width: 100%;
  box-shadow: 5px 5px 10px $bg-gray;

  .topbar-top-con {
    @include flexDisplay(space-between, center, row);
    width: 100%;
    height: 50px;
    padding: 3px;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    background: whitesmoke;
    // border: 1px solid red;

    .topbar-top-con-left {
      @include flexDisplay(space-between, center, row);
    }
    .topbar-top-con-right {
      @include flexDisplay(space-between, center, row);
      .cart-icon-con {
        @include flexDisplay(space-between, center, row);
        position: relative;
        padding-right: 11px;

        p {
          position: absolute;
          right: 0;
          top: -5px;
          font-weight: bolder;
          font-size: 19px;
          color: $txt-blue;
        }
      }
    }
  }

  // NAVBAR
  .navbar-main-con {
    // border: 1px solid red;
    background: $txt-blue;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    @include flexDisplay(space-between, center, row);
    width: 100%;
    // top: 10%;
    @include responsive(phone) {
      width: 100%;
    }
    @include responsive(bigphone) {
      position: relative;
      height: 50px;
      margin-top: 50px;
    }

    nav {
      // border: 1px solid red;
      width: 100%;
      @include flexDisplay(space-between, center, row);

      ul {
        // border: 1px solid red;
        width: 100%;
        margin: 0 auto;
        padding: 3px 0;
        @include flexDisplay(space-between, center, row);

        @include responsive(bigphone) {
          height: 30px;
          width: 500px;
          padding: 0;
          @include flexDisplay(space-between, center, row);
        }
        li {
          @include flexDisplay(space-between, center, column);
          padding: 0px 15px;
          height: 100%;
          font-size: 10px;
          color: $bg-light;
          cursor: pointer;

          @include responsive(phone) {
            padding: 0px 10px;
          }

          @include responsive(bigphone) {
            font-size: 20px;
          }
          span {
            @include flexDisplay(space-between, center, column);
            font-size: 33px;
            @include responsive(phone) {
              font-size: 25px;
            }
            .menu-icon {
              &:hover {
                transform: scale(0.9);
              }
            }

            @include responsive(bigphone) {
              display: none;
            }
          }
        }
      }
    }
  }
}

// BANNER STYLE
.banner-main-con {
  background: url(https://res.cloudinary.com/isreal/image/upload/v1679349263/E-Commerce%20Project/banner-bg_v0db6l.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
  // border: 2px solid red;

  .content {
    // border: 2px solid red;
    flex-wrap: wrap;
    margin: 5px;
    @include flexDisplay(space-between, center, column);

    @include responsive(bigphone) {
      @include flexDisplay(space-between, center, row);
    }

    .text-content {
      // border: 2px solid red;
      @include flexDisplay(space-between, center, column);

      h3 {
        font-size: 16px;
        color: $txt-blue;
        font-weight: bolder;
      }
      p {
        font-size: 12px;
        line-height: 1.5;
        color: $font-light;
        text-align: center;
      }
      a {
        font-size: 15px;
        padding: 3px 5px;
        margin-top: 5px;
        border-radius: 3px;
        color: $bg-light;
        background: $txt-blue;

        &:hover {
          background: $bg-dark-gray;
        }
      }
    }
    .banner-product-img-main-con {
      // border: 2px solid rgb(43, 0, 255);
      margin-top: 20px;
      @include flexDisplay(space-between, center, column);

      .swiper-wrapper {
        // border: 2px solid red !important;
        width: 50px;
        position: relative;
        margin-bottom: 170px; // position: absolute;
        @include flexDisplay(space-between, center, row);

        img {
          width: 120px;
          height: 170px;
          position: absolute;
          // margin: 5px;
          // border: 2px solid red;
        }
      }
      img {
        width: 90%;
      }
    }
  }
}
