// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// APP MAIN CON
.app-main-con {
  overflow-x: hidden;
}
// icons
.icon {
  font-size: 30px;
  color: $txt-blue;
  cursor: pointer;

  @include responsive(bigphone) {
    font-size: 40px;
  }
}
// HOME PAGE MAIN CON
.homepage-main-con {
  padding: 50px 0;
  // background: #eee;
  @include responsive(bigphone) {
    padding: 0;
  }
}
// TOP BAR

.topbar-main-con {
  @include flexDisplay(space-around, center, column);
  position: relative;
  z-index: 200;
  width: 100vw;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  background: whitesmoke;
  // border: 2px solid rgb(0, 255, 42);
  box-shadow: 5px 5px 10px $bg-gray;

  .topbar-top-con {
    @include flexDisplay(space-between, center, row);
    width: 100vw;
    height: 50px;
    padding: 5px 10px;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    background: whitesmoke;
    // border: 1px solid red;

    .topbar-top-con-left {
      @include flexDisplay(space-between, center, row);
    }
    .topbar-top-con-right {
      @include flexDisplay(space-between, center, row);
      .cart-icon-con {
        @include flexDisplay(space-between, center, row);
        position: relative;
        padding-right: 11px;

        p {
          position: absolute;
          right: 0;
          top: -5px;
          font-weight: bolder;
          font-size: 19px;
          color: $txt-blue;
        }
      }
    }
  }

  // NAVBAR
  .navbar-main-con {
    // border: 1px solid red;
    background: $txt-blue;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    @include flexDisplay(space-between, center, row);

    // top: 10%;
    @include responsive(phone) {
      width: 100%;
    }
    @include responsive(bigphone) {
      position: relative;
      height: 50px;
      margin-top: 50px;
    }

    nav {
      // border: 1px solid red;
      width: 100%;
      @include flexDisplay(space-between, center, row);

      ul {
        // border: 1px solid red;
        width: 100%;
        margin: 0 auto;
        padding: 3px 0;
        @include flexDisplay(space-between, center, row);

        @include responsive(bigphone) {
          height: 30px;
          width: 500px;
          padding: 0;
          @include flexDisplay(space-between, center, row);
        }
        li {
          @include flexDisplay(space-between, center, column);
          padding: 0px 15px;
          height: 100%;
          font-size: 10px;
          color: $bg-light;
          cursor: pointer;
          // border: 1px solid red;
          @include responsive(phone) {
            padding: 0px 10px;
          }

          @include responsive(bigphone) {
            font-size: 20px;
          }

          .nav-active {
            // border: 2px solid red;
            position: absolute;

            border-radius: 50% 50% 0 0;
            width: 20vw;
            margin-top: -30px;
            height: 20vw;
            background: $txt-blue;
            // z-index: 50;
            @include responsive(bigphone) {
              display: none;
            }
          }

          p {
            z-index: 30;
          }
          span {
            @include flexDisplay(space-between, center, column);
            font-size: 33px;
            position: relative;
            z-index: 100;

            @include responsive(phone) {
              font-size: 25px;
            }
            .menu-icon {
              &:hover {
                transform: scale(0.9);
              }
            }

            @include responsive(bigphone) {
              display: none;
            }
          }
        }
      }
    }
  }
}

// BANNER STYLE
.banner-main-con {
  background: url(https://res.cloudinary.com/isreal/image/upload/v1679349263/E-Commerce%20Project/banner-bg_v0db6l.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;

  // border: 2px solid red;
  @include responsive(bigphone) {
    margin-top: 100px;
  }

  .content {
    // border: 2px solid red;
    flex-wrap: wrap;
    margin: 5px;
    @include flexDisplay(space-between, center, column);

    @include responsive(bigphone) {
      @include flexDisplay(space-between, center, row);
      // flex-wrap: wrap;
    }

    .text-content {
      // border: 2px solid red;
      @include flexDisplay(space-between, center, column);
      position: relative;
      width: 100%;
      height: 100px;
      @include responsive(bigphone) {
        width: 50%;
        margin-top: -100px;
      }

      h2 {
        // font-size: 16px;
        color: $txt-blue;
        font-weight: bolder;
        @include responsive(bigphone) {
          font-size: 40px;
        }
        @include responsive(tablet) {
          font-size: 70px;
        }
      }
      .banner-text-con {
        // border: 1px solid rgb(0, 255, 13);
        width: 100vw;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 28px;
        @include responsive(bigphone) {
          margin-top: 40px;
        }
        @include responsive(tablet) {
          margin-top: 60px;
        }
        p {
          // border: 1px solid rgb(13, 0, 255);
          width: 100%;
          font-size: 15px;
          line-height: 1.5;
          color: $font-light;
          text-align: center;
          position: absolute;
          font-style: italic;

          @include responsive(bigphone) {
            font-size: 20px;
            margin-top: 10px;
          }
          @include responsive(tablet) {
            font-size: 30px;
          }
        }
      }

      a {
        font-size: 15px;
        padding: 10px 20px;
        margin-top: 70px;
        border-radius: 3px;
        color: $bg-light;
        background: $txt-blue;
        text-align: center;

        @include responsive(bigphone) {
          margin-top: 100px;
          font-size: 25px;
          width: 210px;
          font-weight: bold;
        }
        @include responsive(tablet) {
          margin-top: 125px;
          font-size: 25px;
          // width: 200px;
        }

        &:hover {
          background: $bg-dark-gray;
        }
      }
    }
    .banner-product-img-main-con {
      margin-top: 45px;
      @include flexDisplay(space-between, center, column);
      @include responsive(bigphone) {
        width: 50%;
        position: relative;
      }
      .swiper-wrapper {
        margin-bottom: 170px;
        position: relative;
        @include flexDisplay(space-between, center, row);

        @include responsive(tablet) {
          margin-bottom: 250px;
        }
        img {
          width: 120px;
          height: 170px;
          margin-left: 10px;
          position: absolute;

          @include responsive(tablet) {
            width: 200px;
            height: 250px;
          }
        }
      }

      img {
        width: 90%;
      }
    }
  }
}

// NEW PRODUCTS
.new-arrivals-main-con {
  width: 100vw;
  margin-top: 20px;
  overflow-x: hidden;
  @include responsive(tablet) {
    margin-top: 30px;
  }
  .new-arrivals-con {
    @include flexDisplay(space-between, center, column);

    h1 {
      color: $txt-blue;
      margin-left: 5px;
      font-size: 30px;

      @include responsive(tablet) {
        font-size: 50px;
      }
    }
    .new-products-con {
      @include flexDisplay(space-between, center, row);
      overflow: scroll;
      margin-top: 10px;
      width: 100%;
      padding: 10px 0;
      // border: 2px solid red;

      .new-products-case {
        padding: 0 10px;
        margin: 0 10px;
        background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.132);
        box-shadow: -1px -1px 2px rgba(128, 128, 128, 0.368);
        @include flexDisplay(space-between, center, column);

        .new-products {
          height: 200px;
          transition: transform 0.5s ease;
          @include responsive(bigphone) {
            height: 250px;
          }

          img {
            height: 100%;
            transform: scale(0.85);
            transition: transform 0.3s linear;
          }

          &:hover {
            img {
              transform: scale(0.9);
            }
          }
        }
        p {
          text-align: center;
          font-size: 15px;
          line-height: 1.5;
          color: $font-light;
          margin: 5px 0;
          // font-style: italic;
        }
      }
    }
  }
}

// PRODUCT
.product-session-con {
  // border: 2px solid red;
  background: whitesmoke;
  margin-top: 70px;
  padding: 10px 0;
  width: 100vw;
  overflow-x: hidden;

  @include responsive(bigphone) {
    margin-top: 100px;
    padding: 20px 0;
  }
  .product-main-con {
    @include flexDisplay(space-between, center, column);
    width: 100%;

    h1 {
      color: $txt-blue;
      margin-left: 5px;
      font-size: 30px;

      @include responsive(tablet) {
        font-size: 50px;
      }
    }
    p {
      cursor: pointer;
      color: $txt-blue;
      margin-top: 20px;
    }
    .category-con {
      @include flexDisplay(space-evenly, center, row);
      width: 95%;
      height: 70px;
      border-radius: 5px;
      margin-top: 20px;
      // border: 1px solid $txt-blue;
      position: relative;

      @include responsive(bigphone) {
        max-width: 650px;
        margin-top: 40px;
        height: 90px;
        border-radius: 10px;
      }
      p {
        @include flexDisplay(center, center, row);
        position: absolute;
        font-size: 15px;
        top: -10px;
        padding: 0 20px 3px 20px;
        color: $txt-blue;
        // background: $txt-blue;
        border-radius: 5px;
      }
      .category {
        border: 1px solid rgba(128, 128, 128, 0.355);
        box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.478);
        padding: 5px 10px;
        color: $txt-blue;
        text-align: center;

        @include responsive(bigphone) {
          width: 20%;
          padding: 10px;
        }

        &:hover {
          border: none;
          box-shadow: -1px -1px 0px rgba(128, 128, 128, 0.478);
          color: $bg-gray;
          background: $txt-blue;
        }
      }
    }
    .products-con {
      @include flexDisplay(space-evenly, center, row);
      flex-wrap: wrap;
      // margin-top: 20px;
      // border: 2px solid rgb(0, 255, 13);
      width: 100%;

      @include responsive(bigphone) {
        margin-top: 30px;
      }
      .products {
        @include flexDisplay(space-evenly, center, column);
        width: 45%;
        padding: 3px;
        margin: 10px 5px;
        border-radius: 5px;
        background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
        border: 1px solid rgba(128, 128, 128, 0.157);

        @include responsive(bigphone) {
          width: 30%;
          max-width: 180px;
        }
        @include responsive(tablet) {
          width: 20%;
          max-width: 250px;
        }
        @include responsive(desktop) {
          width: 20%;
          max-width: 250px;
        }

        .product-name {
          text-align: center;
          font-size: 15px;
          // line-height: 1.5;
          color: $font-light;
          // font-style: italic;
          @include responsive(bigphone) {
            font-size: 20px;
          }
        }

        .product-img {
          margin-top: 5px;
          width: 100%;
          @include flexDisplay(space-evenly, center, column);
          overflow: hidden;

          img {
            height: 200px;
            transition: transform 0.3s linear;
            // box-shadow: -5px 10px 5px rgba(128, 128, 128, 0.478);

            // transform: scale(0.9);
            // @include responsive(bigphone) {
            //   height: 270px;
            // }

            @include responsive(tablet) {
              height: 250px;
            }
            @include responsive(desktop) {
              height: 300px;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .price {
          @include flexDisplay(space-between, center, row);
          width: 90%;
          // margin-top: 5px;
          font-size: 15px;

          .product-price {
            text-align: center;
            // line-height: 1.5;
            color: $bg-dark-gray;
          }

          .product-oldprice {
            text-align: center;
            // line-height: 1.5;
            font-size: 12px;
            color: $font-light;
            font-style: italic;
            text-decoration: line-through;
          }
        }

        .addto-cart {
          // border: 1px solid red;
          width: 90%;
          margin: 0 auto;
          text-align: center;
          font-size: 15px;
          line-height: 1.9;
          border: 1px solid $txt-blue;
          color: $txt-blue;
          border-radius: 5px;
          margin: 5px 0;

          &:hover {
            background: $txt-blue;
            color: white;
          }
        }
      }
    }
  }
}

// NEWS LETTER

.newsletter {
  // background: url(https://res.cloudinary.com/isreal/image/upload/v1662211845/jayflix%20vid%20posters/photo_2022-09-02_18-40-11_u8gi0i.jpg)
  //   no-repeat;
  background: #000000b3;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  @include flexDisplay(center, center, row);
  margin-top: 20px;
  padding: 10px 0;

  form {
    width: 90%;
    text-align: center;
    padding: 5px 0;
    // border: 1px solid red;
    @include flexDisplay(center, center, column);

    @include responsive(bigphone) {
      max-width: 500px;
    }
   

    .btn {
      width: 150px;
      height: 40px;
      background: $txt-blue;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 10px;
    }

    h3 {
      // font-size: 2;
      color: #fff;
      padding-bottom: 0.7rem;
      font-weight: normal;
    }

    .box {
      width: 100%;
      margin: 0.7rem 0;
      padding: 12px 5px;
      font-size: 17px;
      color: var(--black);
      border-radius: 5px;
      text-transform: none;
      border: none;

      &:focus {
        border: 1px solid $txt-blue;
      }
    }
  }
}
