@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.app-main-con {
  overflow-x: hidden;
}

.icon {
  font-size: 30px;
  color: #3c91e6;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .icon {
    font-size: 40px;
  }
}

.homepage-main-con {
  padding: 50px 0;
}
@media only screen and (min-width: 768px) {
  .homepage-main-con {
    padding: 0;
  }
}

.topbar-main-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 200;
  width: 100vw;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  background: whitesmoke;
  box-shadow: 5px 5px 10px #eee;
}
.topbar-main-con .topbar-top-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  padding: 5px 10px;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  background: whitesmoke;
}
.topbar-main-con .topbar-top-con .topbar-top-con-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.topbar-main-con .topbar-top-con .topbar-top-con-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.topbar-main-con .topbar-top-con .topbar-top-con-right .cart-icon-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding-right: 11px;
}
.topbar-main-con .topbar-top-con .topbar-top-con-right .cart-icon-con p {
  position: absolute;
  right: 0;
  top: -5px;
  font-weight: bolder;
  font-size: 19px;
  color: #3c91e6;
}
.topbar-main-con .navbar-main-con {
  background: #3c91e6;
  position: absolute;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 320px) {
  .topbar-main-con .navbar-main-con {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .topbar-main-con .navbar-main-con {
    position: relative;
    height: 50px;
    margin-top: 50px;
  }
}
.topbar-main-con .navbar-main-con nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.topbar-main-con .navbar-main-con nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .topbar-main-con .navbar-main-con nav ul {
    height: 30px;
    width: 500px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.topbar-main-con .navbar-main-con nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 15px;
  height: 100%;
  font-size: 10px;
  color: #f9f9f9;
  cursor: pointer;
}
@media only screen and (max-width: 320px) {
  .topbar-main-con .navbar-main-con nav ul li {
    padding: 0px 10px;
  }
}
@media only screen and (min-width: 768px) {
  .topbar-main-con .navbar-main-con nav ul li {
    font-size: 20px;
  }
}
.topbar-main-con .navbar-main-con nav ul li .nav-active {
  position: absolute;
  border-radius: 50% 50% 0 0;
  width: 20vw;
  margin-top: -30px;
  height: 20vw;
  background: #3c91e6;
}
@media only screen and (min-width: 768px) {
  .topbar-main-con .navbar-main-con nav ul li .nav-active {
    display: none;
  }
}
.topbar-main-con .navbar-main-con nav ul li p {
  z-index: 30;
}
.topbar-main-con .navbar-main-con nav ul li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 33px;
  position: relative;
  z-index: 100;
}
@media only screen and (max-width: 320px) {
  .topbar-main-con .navbar-main-con nav ul li span {
    font-size: 25px;
  }
}
.topbar-main-con .navbar-main-con nav ul li span .menu-icon:hover {
  transform: scale(0.9);
}
@media only screen and (min-width: 768px) {
  .topbar-main-con .navbar-main-con nav ul li span {
    display: none;
  }
}

.banner-main-con {
  background: url(https://res.cloudinary.com/isreal/image/upload/v1679349263/E-Commerce%20Project/banner-bg_v0db6l.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
}
@media only screen and (min-width: 768px) {
  .banner-main-con {
    margin-top: 100px;
  }
}
.banner-main-con .content {
  flex-wrap: wrap;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.banner-main-con .content .text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content .text-content {
    width: 50%;
    margin-top: -100px;
  }
}
.banner-main-con .content .text-content h2 {
  color: #3c91e6;
  font-weight: bolder;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content .text-content h2 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1023px) {
  .banner-main-con .content .text-content h2 {
    font-size: 70px;
  }
}
.banner-main-con .content .text-content .banner-text-con {
  width: 100vw;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 28px;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content .text-content .banner-text-con {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1023px) {
  .banner-main-con .content .text-content .banner-text-con {
    margin-top: 60px;
  }
}
.banner-main-con .content .text-content .banner-text-con p {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  text-align: center;
  position: absolute;
  font-style: italic;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content .text-content .banner-text-con p {
    font-size: 20px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1023px) {
  .banner-main-con .content .text-content .banner-text-con p {
    font-size: 30px;
  }
}
.banner-main-con .content .text-content a {
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 70px;
  border-radius: 3px;
  color: #f9f9f9;
  background: #3c91e6;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content .text-content a {
    margin-top: 100px;
    font-size: 25px;
    width: 210px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1023px) {
  .banner-main-con .content .text-content a {
    margin-top: 125px;
    font-size: 25px;
  }
}
.banner-main-con .content .text-content a:hover {
  background: #444;
}
.banner-main-con .content .banner-product-img-main-con {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .content .banner-product-img-main-con {
    width: 50%;
    position: relative;
  }
}
.banner-main-con .content .banner-product-img-main-con .swiper-wrapper {
  margin-bottom: 170px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 1023px) {
  .banner-main-con .content .banner-product-img-main-con .swiper-wrapper {
    margin-bottom: 250px;
  }
}
.banner-main-con .content .banner-product-img-main-con .swiper-wrapper img {
  width: 120px;
  height: 170px;
  margin-left: 10px;
  position: absolute;
}
@media only screen and (min-width: 1023px) {
  .banner-main-con .content .banner-product-img-main-con .swiper-wrapper img {
    width: 200px;
    height: 250px;
  }
}
.banner-main-con .content .banner-product-img-main-con img {
  width: 90%;
}

.new-arrivals-main-con {
  width: 100vw;
  margin-top: 20px;
  overflow-x: hidden;
}
@media only screen and (min-width: 1023px) {
  .new-arrivals-main-con {
    margin-top: 30px;
  }
}
.new-arrivals-main-con .new-arrivals-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.new-arrivals-main-con .new-arrivals-con h1 {
  color: #3c91e6;
  margin-left: 5px;
  font-size: 30px;
}
@media only screen and (min-width: 1023px) {
  .new-arrivals-main-con .new-arrivals-con h1 {
    font-size: 50px;
  }
}
.new-arrivals-main-con .new-arrivals-con .new-products-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;
}
.new-arrivals-main-con .new-arrivals-con .new-products-con .new-products-case {
  padding: 0 10px;
  margin: 0 10px;
  background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.355);
  box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.478);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.new-arrivals-main-con .new-arrivals-con .new-products-con .new-products-case .new-products {
  height: 200px;
  transition: transform 0.5s ease;
}
@media only screen and (min-width: 768px) {
  .new-arrivals-main-con .new-arrivals-con .new-products-con .new-products-case .new-products {
    height: 250px;
  }
}
.new-arrivals-main-con .new-arrivals-con .new-products-con .new-products-case .new-products img {
  height: 100%;
  transform: scale(0.85);
  transition: transform 0.3s linear;
}
.new-arrivals-main-con .new-arrivals-con .new-products-con .new-products-case .new-products:hover img {
  transform: scale(0.9);
}
.new-arrivals-main-con .new-arrivals-con .new-products-con .new-products-case p {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  margin: 5px 0;
}

.product-session-con {
  background: whitesmoke;
  margin-top: 70px;
  padding: 10px 0;
  width: 100vw;
  overflow-x: hidden;
}
.product-session-con .product-main-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.product-session-con .product-main-con h1 {
  color: #3c91e6;
  margin-left: 5px;
  font-size: 30px;
}
@media only screen and (min-width: 1023px) {
  .product-session-con .product-main-con h1 {
    font-size: 50px;
  }
}
.product-session-con .product-main-con .category-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin-top: 20px;
}
.product-session-con .product-main-con .category-con .category {
  border: 1px solid rgba(128, 128, 128, 0.355);
  box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.478);
  padding: 5px 10px;
  color: #3c91e6;
}
.product-session-con .product-main-con .category-con .category:hover {
  border: none;
  box-shadow: -1px -1px 0px rgba(128, 128, 128, 0.478);
  padding: 5px 10px;
  color: #eee;
  background: #3c91e6;
}
.product-session-con .product-main-con .products-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.product-session-con .product-main-con .products-con .products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 45%;
  padding: 3px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.355);
}
.product-session-con .product-main-con .products-con .products .product-name {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
}
.product-session-con .product-main-con .products-con .products .product-img {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.product-session-con .product-main-con .products-con .products .product-img img {
  height: 200px;
  transition: transform 0.3s linear;
}
.product-session-con .product-main-con .products-con .products .product-img img:hover {
  transform: scale(1.1);
}
.product-session-con .product-main-con .products-con .products .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin-top: 5px;
  font-size: 20px;
}
.product-session-con .product-main-con .products-con .products .price .product-price {
  text-align: center;
  line-height: 1.5;
}
.product-session-con .product-main-con .products-con .products .price .product-oldprice {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}
.product-session-con .product-main-con .products-con .products .addto-cart {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #3c91e6;
  color: #3c91e6;
  border-radius: 5px;
  margin: 5px 0;
}
.product-session-con .product-main-con .products-con .products .addto-cart:hover {
  background: #3c91e6;
  color: white;
}/*# sourceMappingURL=Style.css.map */