@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0 auto;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
  background-color: rgba(65, 105, 225, 0);
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

.login-reg-main-con {
  background-image: url("/undraw_Fingerprint_re_uf3f.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-reg-main-con .bg-img {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 0;
}
.login-reg-main-con .login-main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: auto;
  width: 100%;
}
.login-reg-main-con .login-main-con .login-top-title {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 20px;
  background: rgba(245, 245, 245, 0.4745098039);
}
.login-reg-main-con .login-main-con .login-top-title h2 {
  font-weight: 400;
  color: #342e37;
}
.login-reg-main-con .login-main-con .login-top-title p {
  line-height: 2;
  font-size: 15px;
  color: #666;
}
.login-reg-main-con .login-main-con .form-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.5764705882);
  width: 100%;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  padding: 10px;
}
.login-reg-main-con .login-main-con .login-form {
  width: 100%;
  max-width: 500px;
}
.login-reg-main-con .login-main-con .login-form .input-main-con {
  margin-top: 20px;
}
.login-reg-main-con .login-main-con .login-form .input-main-con p {
  color: red;
  font-size: 15;
  font-style: italic;
  text-align: center;
}
.login-reg-main-con .login-main-con .login-form .input-main-con label {
  line-height: 2;
  font-size: 15px;
  color: #666;
}
.login-reg-main-con .login-main-con .login-form .input-main-con .input-con {
  border: 1px solid #3c91e6;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  position: relative;
  background: whitesmoke;
}
.login-reg-main-con .login-main-con .login-form .input-main-con .input-con .input-icon {
  font-size: 20px;
  left: 5px;
  position: absolute;
  color: #444;
}
.login-reg-main-con .login-main-con .login-form .input-main-con .input-con input {
  width: 100%;
  height: 100%;
  border: none;
  outline-color: #3c91e6;
  font-size: 15px;
  padding: 5px;
  padding-left: 40px;
}
.login-reg-main-con .login-main-con .login-form .input-main-con .validation-text {
  text-align: start;
}
.login-reg-main-con .login-main-con .login-form .input-main-con .eye {
  position: relative !important;
  margin-right: 10px;
  font-size: 30px !important;
  cursor: pointer;
}
.login-reg-main-con .login-main-con .login-form .policy-checkbox {
  margin-top: 10px;
  color: #444;
}
.login-reg-main-con .login-main-con .login-form .forgot-pw {
  margin-top: 10px;
  line-height: 2;
  color: #3c91e6;
}
.login-reg-main-con .login-main-con .login-form .login-btn-link {
  margin-top: 15px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login-reg-main-con .login-main-con .login-form .login-btn-link .btn-loader {
  position: absolute;
  color: #eee;
  z-index: 2;
  left: 30%;
}
@media only screen and (min-width: 750px) {
  .login-reg-main-con .login-main-con .login-form .login-btn-link .btn-loader {
    left: 35%;
  }
}
.login-reg-main-con .login-main-con .login-form .login-btn-link input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  background: #3c91e6;
  border: none;
  color: white;
  cursor: pointer;
}
.login-reg-main-con .login-main-con .login-form .login-btn-link input:hover {
  background: #183f65;
}
.login-reg-main-con .login-main-con .login-form .login-registration-link {
  line-height: 2;
  color: #3c91e6;
}
.login-reg-main-con .otp-con {
  padding: 10px;
  width: 100vw;
  bottom: 0;
  top: 130px;
  position: absolute;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 2;
  overflow-y: scroll;
}
.login-reg-main-con .otp-con h3 {
  color: #3c91e6;
  margin-bottom: 20px;
}
.login-reg-main-con .otp-con .login-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: popout 0.3s ease-in-out;
}
@keyframes popout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.login-reg-main-con .otp-con .login-form .input-main-co {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.login-reg-main-con .otp-con .login-form .input-main-co .otp-text {
  color: #444 !important;
  text-align: center;
  margin-bottom: 20px;
}
.login-reg-main-con .otp-con .login-form .input-main-co .otp-error {
  text-align: center;
  color: red;
  line-height: 2;
  margin-bottom: 20px;
}
.login-reg-main-con .otp-con .login-form .input-main-co label {
  text-align: center;
  margin: 0 auto;
}
.login-reg-main-con .otp-con .login-form .input-main-co .input-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login-reg-main-con .otp-con .login-form .input-main-co .go-back {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  position: fixed;
  top: 30px;
  background: rgba(60, 145, 230, 0.7764705882);
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
}
.login-reg-main-con .otp-con .login-form .input-main-co .go-back:hover {
  background: gray;
}
@media only screen and (min-width: 750px) {
  .login-reg-main-con .otp-con .login-form .input-main-co .go-back {
    left: 20px;
  }
}
.login-reg-main-con .otp-con .login-form .otp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  height: 50px;
  background: #3c91e6;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.login-reg-main-con .otp-con .login-form .otp-btn:hover {
  background: #183f65;
}/*# sourceMappingURL=LoginStyle.css.map */