// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

.product-page-main-con {
  margin-top: 50px;

  @include responsive(bigphone) {
    margin-top: 110px;
  }

  .product-page-con {
    // border: 2px solid red;
    @include flexDisplay(space-around, center, column);
    padding-bottom: 30px;
    // SEARCH FORM
    form {
      color: gray;

      @include flexDisplay(space-around, center, row);
      width: 95%;
      padding: 5px 10px;
      border-radius: 5px;
      margin-top: 20px;
      // border: 1px solid rgba(128, 128, 128, 0.173);
      border: 0.1px solid #a7a7a7;
      border-radius: 5px;
      input {
        width: 100%;
        height: 30px;
        border: none;
        padding: 0 10px;
        font-size: 20px;
        color: $txt-blue;
        background: whitesmoke;
        margin-left: 8px;
        // line-height: 1.5;

        &:focus {
          outline: none;
        }
      }

      @include responsive(phone) {
        max-width: 300px;
      }
      @include responsive(bigphone) {
        max-width: 350px;
      }
    }

    // CATEGORY FILTER
    .category-con {
      @include flexDisplay(space-evenly, center, row);
      width: 95%;
      height: 70px;
      border-radius: 5px;
      margin: 0 auto;
      transform: scale(0.95);
      // margin-top: 20px;
      position: relative;
      // border: 2px solid red;

      @include responsive(bigphone) {
        max-width: 650px;
        // margin-top: 40px;
        height: 90px;
        border-radius: 10px;
      }
      .category {
        border: 0.1px solid rgba(128, 128, 128, 0.352);
        border-radius: 5px;
        outline: none;
        // box-shadow: -1px -2px 5px rgba(128, 128, 128, 0.107);
        padding: 5px;
        color: gray;
        text-align: center;
        font-size: 13px;
        cursor: pointer;

        @include responsive(phone) {
          padding: 5px 10px;
          font-size: 15px;
        }
        @include responsive(bigphone) {
          width: 20%;
          padding: 10px;
          font-size: 20px;
          transform: scale(0.8);
        }

        &:hover {
          border: none;
          // box-shadow: -1px -1px 0px rgba(128, 128, 128, 0.478);
          color: $bg-gray;
          background: $txt-blue;
          border: 1px solid $txt-blue;
        }
      }
      .active-category {
        background: #3c91e6;
        color: white;
      }
    }

    // PRODUCTS
    .product {
      // border: 2px solid red;
      // background: white;
      gap: 5px;
      width: 100vw;
      padding: 5px;
      overflow: hidden;
      flex-wrap: wrap;
      @include flexDisplay(space-evenly, center, row);
      animation: entrance 0.3s ease-in;

      @keyframes entrance {
        0% {
          opacity: 0.2;
          transform: scale(0);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }

      @include responsive(bigphone) {
        @include flexDisplay(space-around, center, row);
        flex-wrap: wrap;
      }

      .single-product {
        border: 0.1px solid rgba(128, 128, 128, 0.162);
        // margin: 15px 5px;
        width: 45%;
        max-width: 200px;
        padding: 5px;
        margin: 10px 0;
        border-radius: 5px;
        background: white;
        overflow: hidden;
        // border: 2px solid red;

        &:hover {
          box-shadow: -1px -1px 5px $txt-blue;
        }

        @include responsive(bigphone) {
          width: 30%;
          max-width: 180px;
        }
        @include responsive(tablet) {
          width: 20%;
          max-width: 200px;
        }

        h3 {
          font-size: 12px;
          // text-align: center;
          color: $txt-blue;
          margin-top: 5px;

          @include responsive(phone) {
            font-size: 15px;
          }
          @include responsive(bigphone) {
            font-size: 18px;
          }
        }
        .p-name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          text-transform: lowercase;
        }
        .product-img {
          border: 1px solid rgba(128, 128, 128, 0.146);
          width: 100%;
          height: 150px;
          border-radius: 5px;
          background: whitesmoke;
          overflow: hidden;
          position: relative;
          @include flexDisplay(space-evenly, center, column);

          .percentage-off {
            position: absolute;
            z-index: 20;
            height: 45px;
            border-bottom-right-radius: 12px;
            top: 0;
            left: 0px;
            background: $txt-blue;
            color: white;
            text-align: center;
            padding: 3px;
            font-size: 12px;
          }

          @include responsive(phone) {
            height: 200px;
          }
          @include responsive(tablet) {
            height: 220px;
          }

          .product-page-product-img {
            // border: 2px solid red;
            // width: 100%;
            height: 100%;
            // transform: scale(1.1);
            transition: transform 0.3s linear;
            &:hover {
              transform: scale(1.2);
            }

            @include responsive(tablet) {
              // height: 250px;
              transform: scale(1);
              &:hover {
                transform: scale(1.1);
              }
            }
            @include responsive(desktop) {
              // height: 300px;
              transform: scale(1);

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }

        .product-details {
          // border: 2px solid red;
          gap: 5px;
          @include flexDisplay(center, flex-start, column);

          .price {
            margin-top: 5px;
            flex-wrap: wrap;
            width: 100%;
            font-size: 15px;
            @include flexDisplay(space-between, flex-start, row);

            @include responsive(phone) {
              font-size: 18px;
            }
            @include responsive(bigphone) {
              font-size: 20px;
            }
            .current-price {
              text-align: center;
              // line-height: 1.5;
              color: $bg-dark-gray;
            }
            .old-price {
              font-size: 12px;
              color: $font-light;
              font-style: italic;
              text-decoration: line-through;

              @include responsive(phone) {
                font-size: 15px;
              }
              @include responsive(bigphone) {
                font-size: 18px;
              }
            }
          }

          .detail {
            margin-top: 5px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            @include flexDisplay(space-between, flex-start, column);

            .category {
              border: 1px solid $txt-blue;
              padding: 0px 5px;
              border-radius: 5px;
              background: #3c91e6;
              text-align: center;
              color: white;
              font-size: 12px;

              @include responsive(phone) {
                font-size: 14px;
              }
            }

            .desc {
              margin-top: 5px;
              font-size: 12px;
              color: $font-light;
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              @include responsive(phone) {
                font-size: 15px;
              }
              @include responsive(bigphone) {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}
