// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #3c91e6;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// TRANSACTION RECEIPT PAGE
.receipt-main-con {
  // border: 2px solid red;
  @include flexDisplay(space-between, center, column);

  .receipt-con {
    // border: 2px solid rgb(0, 68, 255);
    @include flexDisplay(space-between, center, column);
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    width: auto;

    position: relative;

    .go-back {
      position: absolute;
      z-index: 20;
      cursor: pointer;
      position: fixed;
      top: 10px;
      left: 15px;
      background: #3c91e6c6;
      border: 1px solid #8080802b;
      color: white;
      width: 70px;
      height: 30px;
      text-align: center;
      border-radius: 10px;
      font-size: 18px;

      &:hover {
        background: gray;
      }

      @include responsive(bigphone) {
        top: 20px;
      }
    }
    h3 {
      font-size: 25px;
      color: $txt-blue;
    }

    p {
      font-size: 15px;
      margin: 5px;
      margin-bottom: 5px;
      color: $font-light;
      text-align: center;
    }
    .paystackRef {
      color: $bg-dark;
      font-weight: bold;

      span {
        color: $bg-dark;
        font-weight: normal;
      }
    }
    h4 {
      font-size: 17px;
      color: $bg-dark;
      margin: 0 auto;
      margin-right: auto;
      margin-top: 30px;
      width: 95%;
    }

    .transaction-order-details {
      border: 1px solid gray;
      background: white;
      border-radius: 5px;
      width: 95%;
      max-width: 500px;
      margin-top: 3px;
      padding: 5px 10px;

      @include responsive(bigphone) {
        border-radius: 10px;
      }
      .item-heading {
        width: 100%;
        margin: 0 auto;
        @include flexDisplay(space-evenly, center, row);

        span {
          width: 30%;
          text-align: left;
          color: $bg-dark-gray;
          font-weight: bold;
          line-height: 2;
          margin: 3px;
        }
        .p-name {
          width: 50%;
        }
        .qty {
          width: 10%;
        }
      }
      .product-details {
        @include flexDisplay(space-evenly, center, row);
        color: $font-light;

        span {
          // text-align: center;
          margin: 3px;

          width: 30%;
          line-height: 2;
          text-transform: capitalize;
        }
        .qty {
          width: 10%;
        }
        .p-name {
          width: 50%;
        }
      }

      .first {
        margin-top: 20px;
        // border-top: 1px dashed $font-light;
        padding-top: 10px;
      }
      .transaction-status {
        @include flexDisplay(space-between, center, row);
        color: $font-light;

        span {
          line-height: 2;
        }
      }

      .total-amount {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
      }
      .qr-code {
        @include flexDisplay(center, center, row);
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .download-page {
      // border: 2px solid red;
      width: 95%;
      max-width: 500px;
      margin-bottom: 20px;

      p {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 10px;
        height: 50px;
        border: 2px solid $txt-blue;
        text-align: center;
        background: $txt-blue;
        color: white;
        cursor: pointer;
        @include flexDisplay(center, center, row);

        &:hover {
          background: whitesmoke;
          color: $txt-blue;
        }
      }
    }
  }

  // ADMIN RECEIPT DESIGN

  .main-detail-con {
    @include flexDisplay(space-around, center, row);
    border: 1px solid gray;
    width: 100%;
    max-width: 1200px;

    // @include responsive(bigphone) {
    //   @include flexDisplay(center, center, row);
    // }

    .detail-con {
      width: 100%;
      @include flexDisplay(center, center, column);

      @include responsive(bigphone) {
        @include flexDisplay(center, flex-start, row);
      }

      .transaction-order-detail {
        border-radius: 5px;
        width: 95%;
        max-width: 500px;
        margin-top: 3px;
        padding: 5px 10px;

        @include responsive(bigphone) {
          border-radius: 10px;
        }
        .item-heading {
          width: 100%;
          margin: 0 auto;
          @include flexDisplay(space-evenly, center, row);

          span {
            width: 30%;
            text-align: left;
            color: $bg-dark-gray;
            font-weight: bold;
            line-height: 2;
            margin: 3px;
          }
          .p-name {
            width: 50%;
          }
          .qty {
            width: 10%;
          }
        }
        .product-details {
          @include flexDisplay(space-evenly, center, row);
          color: $font-light;

          span {
            // text-align: center;
            margin: 3px;

            width: 30%;
            line-height: 2;
            text-transform: capitalize;
          }
          .qty {
            width: 10%;
          }
          .p-name {
            width: 50%;
          }
        }

        .first {
          margin-top: 20px;
          // border-top: 1px dashed $font-light;
          padding-top: 10px;
        }
        .transaction-status {
          @include flexDisplay(space-between, center, row);
          color: $font-light;

          span {
            line-height: 2;
          }
        }

        .total-amount {
          text-align: center;
          font-size: 20px;
          margin-top: 15px;
        }
        .qr-code {
          @include flexDisplay(center, center, row);
          margin-top: 10px;
          margin-bottom: 10px;
        }

        // RECEIPT LOWER PART
        .contact-customer {
          // margin-top: 50px;
          // border: 1px solid red;
          @include flexDisplay(space-around, center, row);
          a {
            color: #342e37;
            text-align: center;
            span {
              font-size: 40px;

              font-size: 30px;
              text-align: center;

              @include responsive(bigphone) {
                font-size: 40px;
              }
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .update-transaction-form {
          margin-top: 50px;

          form {
            width: 100%;
            @include flexDisplay(space-around, center, column);

            div {
              width: 100%;

              select {
                width: 100%;
                height: 40px;
                padding: 5px;
                font-size: 15px;
                border-radius: 2px;
                border: 1px solid gray;
                color: gray;
              }
              textarea {
                width: 100%;
                height: 80px;
                padding: 5px;
                margin-top: 10px;
                font-size: 15px;
                border: 1px solid gray;
                color: gray;
              }
            }

            input {
              border-radius: 2px;
              width: 100%;
              height: 40px;
              padding: 5px;
              margin-top: 10px;
              margin-bottom: 30px;
              font-size: 15px;
              background: $txt-blue;
              color: white;
              border: none;

              &:hover {
                background: gray;
              }
            }
          }
        }
      }
    }
  }

  .receipt-heading {
    position: relative;
    // border: 2px solid red;
    margin-top: 10px;
    width: 100%;
    @include flexDisplay(space-around, center, column);

    button {
      position: absolute;
      left: 5px;
      top: -10px;
    }

    h3 {
      color: $txt-blue;
      font-size: 25px;
      margin-top: 35px;
    }

    p {
      font-weight: bold;
      color: $bg-dark-gray;
      margin-bottom: -20px;

      span {
        font-weight: normal;
      }
    }

    h4 {
      margin-bottom: -30px;
      margin-top: 30px;
    }
  }
  .download-page {
    // border: 2px solid red;
    width: 100%;
    margin: 0 auto;
  }
}
