@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.receipt-main-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.receipt-main-con .receipt-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px;
  width: auto;
  position: relative;
}
.receipt-main-con .receipt-con .go-back {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 15px;
  background: rgba(60, 145, 230, 0.7764705882);
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
}
.receipt-main-con .receipt-con .go-back:hover {
  background: gray;
}
@media only screen and (min-width: 768px) {
  .receipt-main-con .receipt-con .go-back {
    top: 20px;
  }
}
.receipt-main-con .receipt-con h3 {
  font-size: 25px;
  color: #3c91e6;
}
.receipt-main-con .receipt-con p {
  font-size: 15px;
  margin: 5px;
  margin-bottom: 5px;
  color: #666;
  text-align: center;
}
.receipt-main-con .receipt-con .paystackRef {
  color: #342e37;
  font-weight: bold;
}
.receipt-main-con .receipt-con .paystackRef span {
  color: #342e37;
  font-weight: normal;
}
.receipt-main-con .receipt-con h4 {
  font-size: 17px;
  color: #342e37;
  margin: 0 auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;
}
.receipt-main-con .receipt-con .transaction-order-details {
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  width: 95%;
  max-width: 500px;
  margin-top: 3px;
  padding: 5px 10px;
}
@media only screen and (min-width: 768px) {
  .receipt-main-con .receipt-con .transaction-order-details {
    border-radius: 10px;
  }
}
.receipt-main-con .receipt-con .transaction-order-details .item-heading {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.receipt-main-con .receipt-con .transaction-order-details .item-heading span {
  width: 30%;
  text-align: left;
  color: #444;
  font-weight: bold;
  line-height: 2;
  margin: 3px;
}
.receipt-main-con .receipt-con .transaction-order-details .item-heading .p-name {
  width: 50%;
}
.receipt-main-con .receipt-con .transaction-order-details .item-heading .qty {
  width: 10%;
}
.receipt-main-con .receipt-con .transaction-order-details .product-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: #666;
}
.receipt-main-con .receipt-con .transaction-order-details .product-details span {
  margin: 3px;
  width: 30%;
  line-height: 2;
  text-transform: capitalize;
}
.receipt-main-con .receipt-con .transaction-order-details .product-details .qty {
  width: 10%;
}
.receipt-main-con .receipt-con .transaction-order-details .product-details .p-name {
  width: 50%;
}
.receipt-main-con .receipt-con .transaction-order-details .first {
  margin-top: 20px;
  padding-top: 10px;
}
.receipt-main-con .receipt-con .transaction-order-details .transaction-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #666;
}
.receipt-main-con .receipt-con .transaction-order-details .transaction-status span {
  line-height: 2;
}
.receipt-main-con .receipt-con .transaction-order-details .total-amount {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.receipt-main-con .receipt-con .transaction-order-details .qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.receipt-main-con .receipt-con .download-page {
  width: 95%;
  max-width: 500px;
  margin-bottom: 20px;
}
.receipt-main-con .receipt-con .download-page p {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  height: 50px;
  border: 2px solid #3c91e6;
  text-align: center;
  background: #3c91e6;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.receipt-main-con .receipt-con .download-page p:hover {
  background: whitesmoke;
  color: #3c91e6;
}
.receipt-main-con .main-detail-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid gray;
  width: 100%;
  max-width: 1200px;
}
.receipt-main-con .main-detail-con .detail-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .receipt-main-con .main-detail-con .detail-con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail {
  border-radius: 5px;
  width: 95%;
  max-width: 500px;
  margin-top: 3px;
  padding: 5px 10px;
}
@media only screen and (min-width: 768px) {
  .receipt-main-con .main-detail-con .detail-con .transaction-order-detail {
    border-radius: 10px;
  }
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .item-heading {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .item-heading span {
  width: 30%;
  text-align: left;
  color: #444;
  font-weight: bold;
  line-height: 2;
  margin: 3px;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .item-heading .p-name {
  width: 50%;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .item-heading .qty {
  width: 10%;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .product-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: #666;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .product-details span {
  margin: 3px;
  width: 30%;
  line-height: 2;
  text-transform: capitalize;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .product-details .qty {
  width: 10%;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .product-details .p-name {
  width: 50%;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .first {
  margin-top: 20px;
  padding-top: 10px;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .transaction-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #666;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .transaction-status span {
  line-height: 2;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .total-amount {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .contact-customer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .contact-customer a {
  color: #342e37;
  text-align: center;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .contact-customer a span {
  font-size: 40px;
  font-size: 30px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .receipt-main-con .main-detail-con .detail-con .transaction-order-detail .contact-customer a span {
    font-size: 40px;
  }
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .contact-customer a:hover {
  transform: scale(1.1);
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form {
  margin-top: 50px;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form form div {
  width: 100%;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form form div select {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid gray;
  color: gray;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form form div textarea {
  width: 100%;
  height: 80px;
  padding: 5px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid gray;
  color: gray;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form form input {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 15px;
  background: #3c91e6;
  color: white;
  border: none;
}
.receipt-main-con .main-detail-con .detail-con .transaction-order-detail .update-transaction-form form input:hover {
  background: gray;
}
.receipt-main-con .receipt-heading {
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.receipt-main-con .receipt-heading button {
  position: absolute;
  left: 5px;
  top: -10px;
}
.receipt-main-con .receipt-heading h3 {
  color: #3c91e6;
  font-size: 25px;
  margin-top: 35px;
}
.receipt-main-con .receipt-heading p {
  font-weight: bold;
  color: #444;
  margin-bottom: -20px;
}
.receipt-main-con .receipt-heading p span {
  font-weight: normal;
}
.receipt-main-con .receipt-heading h4 {
  margin-bottom: -30px;
  margin-top: 30px;
}
.receipt-main-con .download-page {
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */